.DS_Store
.Trashes

.gradle/
.idea/
.kotlin
build/

*.iml
*.lock
*.sh
*.swp
*.zip

local.properties

KotlinDebug
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
**/fastlane/report.xml
**/.env.secret
Package.resolved
**/**.ipa
api.json
